{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [ rebar3_auto, rebar3_proper]}.

{profiles,
    [{test, [
        {deps, [{proper, "1.2.0"}]}
    ]}
]}.

{dialyzer, [{warnings, [error_handling
                       ,unknown
                       ,unmatched_returns
                       %% ,overspecs
                       ]}
           ,{get_warnings, true}
           ,{plt_apps, top_level_deps}
           ]}.